.CartItem-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 2px solid #ac2432;
  margin-bottom: 20px;
}

.CartItem-Container > h2 {
  margin: 20px 0;
  font-weight: lighter;
}

.Cart-RightDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.Cart-RightDiv > a {
  flex: 1;
  max-height: 400px;
  max-width: 300px;
  object-fit: contain;
}

.Cart-RightDiv > a > img {
  width: 100%;
  height: 100%; /* Set height to 100% */
}

.Cart-RightDiv > div {
  flex: 1;
  margin-left: 40px;
}

.Cart-RightDiv > div > div {
  margin-bottom: 10px;
}

.Cart-RightDiv > div > div > span:nth-child(2) {
  color: #ac2432;
}
